<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="apiKey" value="iVqM0ie8PbyE7oXPtRmL~--vJKtNYS4qH_zkWXOvJiw~AkktCyr1NG2BrWPVQuClbuUmJNiDu9cabSPKfqx107GzLNP3NzTtWRu8gVsrKbfX" />
	</appSettings>
</configuration>